
# The compiled C binary
/pull

# Actually, let's send over the compiled CSS. Makes it easier to host.
## The compiled CSS
#/webroot/assets/styles.css
#/webroot/assets/styles.css.map

# Misc SASS stuff
/.sass-cache

# Intellij IDEA files
/.idea
/*.iml
